################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreWithAngular/v16
/CoreWithAngularRepository
